.content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.postList {
  flex: 4;
}
.sidebar {
  flex: 1;
}

@media screen and (max-width: 640px) {
  .content {
    flex-direction: column;
  }
}

