.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.button {
  border-radius: 5px;
  background-color: rgb(14, 67, 166);
  padding: 10px 20px;
  width: max-content;
  color: white;
  border: none;
}

.buttonDelete {
  border-radius: 5px;
  background-color: rgb(209, 20, 52);
  padding: 10px 20px;
  width: max-content;
  color: white;
  border: none;
}

.cell {
  padding: 5px;
}

.title {
  font-size: 90px;
  text-align: center;
  margin: 50px 0;
}
